<div class="card-list-container py-5">
  <% parties.each do |parties| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to parties_path(parties.id) do %>
      <%= image_tag parties.get_image, class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag parties.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(parties_path(parties.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= parties.name %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= parties.introduction %></p>
          <span><i class="fas fa-user"></i> By <%= parties.user.display_name %> ｜ </span>
          <span><%= link_to "#{parties.comments.count} コメント", parties_path(parties.id), class:"text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate parties %>
</div>