<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h4>ユーザー情報</h4>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h4>編成の詳細</h4>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@party.user) do %>
            <%= image_tag @party.user.get_profile_image, size:"100x100" %><br>
            <%= @party.user.display_name %>
            <% end %>
          </td>
          <td><%= link_to @party.name, @party %></td>
          <td><%= @party.introduction %></td>
          <% if user_signed_in? && current_user == @party.user %>
            <td><%= link_to '編集', edit_party_path(@party), class: 'edit-button' %></td>
          <% end %>
        </tr>
      </table>

      <p><strong>敵キャラクターの防御値:</strong> <%= @party.enemy_defence %></p>
      <p><strong>属性相性:</strong> <%= @party.weekness %></p>
      <p><strong>騎空艇のバフ:</strong> <%= @party.airship %></p>
      <p><strong>炉のバフ:</strong> <%= @party.reactor %></p>
      <p><strong>召喚石:</strong> <%= @party.own_summon_type %>　加護：<%= @party.own_summon_buff %>％</p>
      <p><strong>フレンド召喚石:</strong> <%= @party.friend_summon_type %>　加護：<%= @party.friend_summon_buff %>％</p>

      <p><strong>編成タグ:</strong>
        <% @party.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </p>

      <div class="comments-index">
        <%= render "comments/index", party: @party %>
      </div>

      <%= render "comments/form", party: @party, comment: @comment %>

    </div>
  </div>
</div>