<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @party.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', party: party.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@party.user) do %>
            <%= image_tag @party.user.get_profile_image, size:"100x100" %><br>
            <%= @party.user.display_name %>
            <% end %>
          </td>
          <td><%= link_to @party.name, @party %></td>
          <td><%= @party.introduction %></td>
          <td class=<%= "like-" + @party.id.to_s %> >
            <%= render "likes/btn", party: @party %>
          </td>
          <td class="comments-counter">
            <%= render "comments/counter", party: @party %>
          </td>
          <td class="view-count">閲覧数: <%= @party.view_counts.count %></td>
          <% if @party.user == current_user %>
            <td><%= link_to 'Edit', edit_parties_path(@party), class: "btn btn-sm btn-success edit_parties_#{@party.id}" %></td>
            <td><%= link_to 'Destroy', @party, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_parties_#{@party.id}" %></td>
          <% end %>
        </tr>
      </table>
      
      <div class="comments-index">
        <%= render "comments/index", party: @party %>
      </div>
      
      <%= render "comments/form", party: @party, comment: @comment %>
      
    </div>
  </div>
</div>