<table>
  <tbody>
      <% party.comments.each do |f| %>
      <tr>
        
        <td>
          <%= link_to user_path(f.user) do %>
            <%= image_tag f.user.get_profile_image, size: "100x100" %><br>
            <%= f.user.display_name %>
          <% end %>
        </td>
        <td><%= f.comment %></td>
        <td>
          <% if f.user == current_user %>
            <%= link_to "Destroy", party_comment_path(party, f), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>