<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <% unless user_signed_in? %>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'サインアップ',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
      <% end %>

      <div class="row mt-4">
        <% @parties.each do |f| %>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= f.name %></h5>

                <% unless current_user.guest? %>
                  <div class="mt-3">
                    <%= render 'shared/like_btn', f: f %>
                    <%= link_to "コメントする", comments_path(party_id: party.id), class: "btn btn-primary btn-sm" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>